{% block content %}
<h2>Breyta / Eyða</h2>
<form action="/breytaeyda" method="POST" style="padding-bottom: 1em;" class="register">
    <div>
        <input type="hidden" value="{{ id }}" name="id">
        <label>Skráninganúmer</label>
        <input type="text" class="form-control" value="{{ bill[2][1] }}" name="nr" maxlength="6" required>
    </div>
    <div>
        <label>Tegund:</label>
        <input type="text" class="form-control" value="{{ bill[2][1] }}" name="tegund" required>
    </div>
    <div>
        <label>Undirtegund:</label>
        <input type="text" class="form-control" value="{{ bill[4][1] }}" name="utegund" required>
    </div>
    <div>
        <label>Árgerð:</label>
        <input type="text" class="form-control" value="{{ bill[1][1] }}" name="argerd" required>
    </div>
    <div>
        <label>Akstur:</label>
        <input type="text" class="form-control" value="{{ bill[0][1] }}" name="akstur" required>
    </div>
    <button type="submit" name="submit" value="breyta">Breyta</button>
    <button type="submit" name="submit" value="eyda" id="delete">Eyða</button>
</form>
{% endblock %}