{% extends "layout.html" %}
{% block title %}
    <title>Skraðu bil</title>
{% endblock %}

{% block content %}
<h2>Nýskra bifreiða</h2>
<div class="register">
    <form action="/donyskra" method="POST">
    <div>
        <label>Skráninganúmer:</label>
        <input type="text" placeholder="skráninganúmer" name="nr" maxlength="6" required>
    </div>
    <div>
        <label>Tegund:</label>
        <input type="text" placeholder="tegund" name="tegund" required>
    </div>
    <div>
        <label>Undirtegund</label>
        <input type="text" placeholder="undirtegund" name="utegund" required>
    </div>
    <div>
        <label>Árgerð</label>
        <input type="text" placeholder="árgerð" name="argerd" required>
    </div>
    <div>
        <label>Akstur</label>
        <input type="text" placeholder="akstur" name="akstur" required>
    </div>
    <div class="centre"><button type="submit">Skrá</button>/div>
    </form>
</div>
{% endblock %}